@{
    ViewBag.Title = "Library";
}

<div class="jumbotron">
    <img src="../images/book1.jpg" align="right" width="350" height="190"/>
    <h1 style="color:green";>БИБЛИОТЕКА</h1>
    <p class="lead">ЮФУ</p>
    
</div>

