@{
    ViewData["Title"] = "Домашняя страница";
}


<div class="text-center">
    <h3>@ViewBag.Title пользователя</h3>

    <h1 class="display-4">Добро пожаловать</h1>
    <div class="phone1"><span class="nomer">Ваш номер телефона: </span>  @User.Identity.Name  </div>

</div>
