@using Library2.Models
@model Library2.Models.Reader

@{
    ViewBag.Title = "Details";
}




<fieldset>
    <legend>Информация о Читателе</legend>


    <div class="display-label"><b>Имя</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>




    <div class="display-label"><b>Книги</b></div>
    <ul>
        @foreach (Book c in Model.Books)
        {
            <li>@c.BookName</li>
        }
    </ul>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReaderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
