
@{
    ViewBag.Title = "Buy";
}

<h2>добавить книгу</h2>
<html>

<body>
    <div>
        <div>
            @ViewBag.Id
        </div>

        <form method="post" action="">
           
    <input type="hidden" value="@ViewBag.Id" name="Id" />
            <input type="submit" value="Отправить" /> 
    </form>
    </div>
</body>
</html>

