@using Library2.Models
@model Library2.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>Автор</h2>

<div>
    <h4>@Model.NameAuthor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Книги</dt>

        <dd>
            <ul>
                @foreach (Book book in Model.Books)
                {
                    <li>@book.BookName </li>
                }
            </ul>
        </dd>  

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


